<h1>Lots</h1>

<% @lots.most_recent.each_with_index do |lot, index| %>
  <div id="lot-<%= index %>" >
  <p> <%= lot.name %> </p>
  <p> <%= lot.created_at %> </p>
<% end %>

<h3> <%= link_to 'New Lot', '/lots/new' %> </h3>
 