<h1>All Cards</h1>

<% @cards.each do |card| %>
  <h2><%= card.name %></h2>
  <h3> <%= link_to "Edit #{card.name}", "cards/#{card.id}/edit", method: :get %>    <%= link_to "Delete #{card.name}", "cards/#{card.id}", method: :delete %> </h3>
  <% end %>